*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{

}
section{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
#particles-js{

	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.calculator{
	width: 400px;
	flex:  0 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}

input[type="text"]{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 8px;
	border: 0;
	border-radius: 5px;
	background: #ffffff;
	box-shadow:  7px 7px 14px #dedede, 
             	-7px -7px 14px #ffffff;
    transition-duration: 0.4s;
}

input[type="button"]{
	width: 22%;
	flex:  0 0 auto;
	padding: 10px 10px;
	border: 0;
	border-radius: 5px;
	background: #ffffff;
	box-shadow:  7px 7px 14px #dedede, 
             	-7px -7px 14px #ffffff;
    margin-bottom: 8px;
    cursor: pointer;
    transition-duration: 0.4s;

}

input[value="C"]{
	background-color: red !important;
	color: #fff;

}
input[value="C"].red{
	background-color: #000 !important;
}

input[value="C"].green{
	background-color: #07b935 !important;
}

input[value="C"].white{
	background-color: #fff !important;
	color: #000 !important;
}







input[type="button"]:focus{
	box-shadow:  7px 7px 14px #dedede, 
             	 7px 7px 14px #ffffff;
}

input:focus{
	outline: none;
}

.layout{
    position: fixed;
    right: -151px;
    top: 20%;
    background: #95b0ec;
    padding: 10px;
    padding-left: 20px;
    box-shadow: 0 0 50px 0 #00000038;
    transition-duration: 0.4s;
}
.settings{
    position: absolute;
    font-size: 35px;
    left: -15px;
    top: -24px;
    color: #000000;
    cursor: pointer;
}
.layout ul{}
.layout ul li{
    padding: 3px;
}
.layout ul li button{
    width: 30px;
    height: 30px;
    display: block;
}
.layout.open{
	right: 0;
}